<!DOCTYPE html>
<html>
  <head>
    <title>PFpractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac7cef6f2b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <%= render "layouts/header" %>
      </header>
    <% end %>
      <main style="backgouond-color: #3c4c74;">
        <%= yield %>
      </main>
      <footer>
      
      </footer>
  </body>
</html>
